@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Rouge+Script&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/socials.css");

body{
	background-color: #cfcec9;
	font-family: font-family: 'Lora', serif;
	font-size: 18px;
}

h1, h2, h3{
	font-family: font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
}

